// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/functions"

$dark: #001122
$tablet: 768px
$desktop: 1023px

.responsive-image
  background-size: contain
  background-repeat: no-repeat
  background-position: center

  // 6. Import the rest of Bulma
@import "~bulma/bulma"